{% extends "demo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Todo Record</legend>
                <h2>Are you sure you want to delete the record for the
                    todo {{ object.name }} with the category {{ object.category.name }}.</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary"
                   href="{% url 'todo-list' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}